
*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Lato', sans-serif;
    background-color: #b2ebe9;
}

.fix{
    clear: both;
    overflow: hidden;
}

header{
    overflow: hidden;
    height: 100px;
}

.opacity{
    /* opacity: 0.6; */
}

.opacity:hover{
    opacity:1;
    /* transform: scale(1.75); */

}

.bgimg{
    position: absolute;
    /* top: 0; */
    height: 10vh;
    /* width: vh; */
    /* left: 0; */
    min-width: 100%;
    opacity: 0.8;
    min-height: 100%;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.6);
    height: 70px;
    position: absolute;
    width: 100%;
    /* position: fixed;
    overflow:; */
}

.logo{
    margin: 20px 10px; 
    margin-top: -6px;
    margin-left: -6px;
    height: 60px;
    font-size: 40px;
    float: left;
    color: khaki;
}

.navarea{
    float: right;
    margin: 20px;
    margin-top: 3px;
    margin-right: 2.5px;
    list-style: none;
}

.navarea li{
    display: inline-block;
    margin: auto 5px;
    margin-top: -10px;
    /* margin-right: 3px; */
    padding-top: 0px;
}

.navarea li a{
    text-decoration: none;
    color: #FFF;
    padding: 8px;
    font-size: 20px;
    letter-spacing: 1.7px;
}

.navarea li.active a{
    color: khaki;
}

.navarea li a:hover{
    cursor: pointer;
    color: yellowgreen;
    /* background-color: white; */
}

.btn{
    position: absolute;
    margin: 25% 30%;
}


button{
    padding: 10px 20px;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}